<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" type="image/x-icon" href="resources/img/guide/favicon.ico">
    <link rel="icon" type="image/png" sizes="200x200" href="resources/img/guide/favicon_200.png">
    <title>수원특례시청</title>
    <!-- <link href="resources/css/pattern.css" type="text/css" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <style>
        /* iframe 스타일링 */
        #header-frame,
        #footer-frame {
            width: 100%;
            border: none;
            display: block;
            overflow: hidden;
        }

        #header-frame {
            height: 200px;
            /* 헤더 높이에 맞게 조정 */
        }

        #footer-frame {
            height: 400px;
            /* 푸터 높이에 맞게 조정 */
        }
    </style>

    <style>
        /* 체크박스 본체는 숨기고 라벨이 클릭을 대신 받게 합니다 */
        .list-group-checkable .list-group-item-check {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;
        }

        /* 마우스 커서를 손가락 모양으로 변경 */
        .list-group-checkable .list-group-item {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, .125);
        }

        /* 클릭(체크) 되었을 때의 색상 변화 */
        .list-group-item-check:checked+.list-group-item {
            color: #fff;
            background-color: #0d6efd;
            /* 부트스트랩 기본 파란색 */
            border-color: #0d6efd;
        }

        /* 비활성화 상태 스타일 */
        .list-group-item-check[disabled]+.list-group-item {
            pointer-events: none;
            filter: none;
            opacity: .5;
        }
    </style>
    <script>
        // iframe 높이 자동 조절
        function resizeIframe(iframe) {
            iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
</head>

<body>
    <div id="wrap">

        <!-- 헤더 iframe -->
        <iframe id="header-frame" src="header.html" onload="resizeIframe(this)" scrolling="no"></iframe>

        <!-- 컨테이너 영역 -->
        <div id="container">
            <div class="inner">
                <!-- // ↑ 전자정부 UI/UX header/top 영역-->

                <!-- heon 2025.12.11 : 즐겨찾기 영역 -->
                <div class="myd-flex justify-content-center ">

                    <div
                        class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                        <!-- 버튼 4개 카드 -->
                        <div
                            class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                            <div class="list-group list-group-checkable d-grid gap-2 border-0">
                                <input class="list-group-item-check pe-none" type="checkbox"
                                    name="listGroupCheckableRadios" id="listGroupCheckableRadios1" value="" checked="">
                                <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
                                    통합 민원 예약
                                    <span class="d-block small opacity-50">With support text underneath to add more
                                        detail</span> </label> <input class="list-group-item-check pe-none"
                                    type="checkbox" name="listGroupCheckableRadios2" id="listGroupCheckableRadios2"
                                    value="">
                                <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2">
                                    정보공개/개방
                                    <span class="d-block small opacity-50">Some other text goes here</span> </label>
                                <input class="list-group-item-check pe-none" type="checkbox"
                                    name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value=""> <label
                                    class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
                                    수원소식
                                    <span class="d-block small opacity-50">And we end with another snippet of
                                        text</span> </label> <input class="list-group-item-check pe-none"
                                    type="checkbox" name="listGroupCheckableRadios" id="listGroupCheckableRadios4"
                                    value="" disabled=""> <label class="list-group-item rounded-3 py-3"
                                    for="listGroupCheckableRadios4">
                                    수원소개
                                    <span class="d-block small opacity-50">This option is disabled</span> </label>
                            </div>
                        </div>
                        <!-- //버튼 4개 카드 -->

                        <!-- 버튼 4개 카드 -->
                        <div
                            class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                            <div class="list-group list-group-checkable d-grid gap-2 border-0"> <input
                                    class="list-group-item-check pe-none" type="checkbox"
                                    name="listGroupCheckableRadios" id="listGroupCheckableRadios5" value="" checked="">
                                <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios5">
                                    분야별 정보
                                    <span class="d-block small opacity-50">With support text underneath to add more
                                        detail</span> </label> <input class="list-group-item-check pe-none"
                                    type="checkbox" name="listGroupCheckableRadios" id="listGroupCheckableRadios6"
                                    value=""> <label class="list-group-item rounded-3 py-3"
                                    for="listGroupCheckableRadios6">
                                    Second radio
                                    <span class="d-block small opacity-50">Some other text goes here</span> </label>
                                <input class="list-group-item-check pe-none" type="checkbox"
                                    name="listGroupCheckableRadios" id="listGroupCheckableRadios7" value=""> <label
                                    class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios7">
                                    Third radio
                                    <span class="d-block small opacity-50">And we end with another snippet of
                                        text</span> </label> <input class="list-group-item-check pe-none"
                                    type="checkbox" name="listGroupCheckableRadios" id="listGroupCheckableRadios8"
                                    value="" disabled=""> <label class="list-group-item rounded-3 py-3"
                                    for="listGroupCheckableRadios8">
                                    Fourth disabled radio
                                    <span class="d-block small opacity-50">This option is disabled</span> </label>
                            </div>
                        </div>
                        <!-- //버튼 4개 카드 -->

                        <!-- 버튼 4개 카드 -->
                        <div
                            class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                            <div class="list-group list-group-checkable d-grid gap-2 border-0"> <input
                                    class="list-group-item-check pe-none" type="checkbox"
                                    name="listGroupCheckableRadios" id="listGroupCheckableRadios9" value="" checked="">
                                <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios9">
                                    First radio
                                    <span class="d-block small opacity-50">With support text underneath to add more
                                        detail</span> </label> <input class="list-group-item-check pe-none"
                                    type="checkbox" name="listGroupCheckableRadios" id="listGroupCheckableRadios10"
                                    value=""> <label class="list-group-item rounded-3 py-3"
                                    for="listGroupCheckableRadios10">
                                    Second radio
                                    <span class="d-block small opacity-50">Some other text goes here</span> </label>
                                <input class="list-group-item-check pe-none" type="checkbox"
                                    name="listGroupCheckableRadios" id="listGroupCheckableRadios11" value=""> <label
                                    class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios11">
                                    Third radio
                                    <span class="d-block small opacity-50">And we end with another snippet of
                                        text</span> </label> <input class="list-group-item-check pe-none"
                                    type="checkbox" name="listGroupCheckableRadios" id="listGroupCheckableRadios12"
                                    value="" disabled=""> <label class="list-group-item rounded-3 py-3"
                                    for="listGroupCheckableRadios12">
                                    Fourth disabled radio
                                    <span class="d-block small opacity-50">This option is disabled</span> </label>
                            </div>
                        </div>
                        <!-- //버튼 4개 카드 -->
                    </div>

                    <!-- // ↓  전자정부 UI/UX header/top 영역-->
                </div>
            </div>

            <!-- 푸터 iframe -->
            <iframe id="footer-frame" src="footer.html" onload="resizeIframe(this)" scrolling="no"></iframe>
        </div>

        <!-- 스크립트 : 라이브러리 -->
        <script src="resources/js/pattern/jquery.min.js"></script>

        <!-- 스크립트 : 패턴 페이지 -->

        <script src="resources/js/pattern/ui-pattern-script.js"></script>


        <!-- 스크립트 : 컴포넌트 -->
        <script src="resources/js/component/ui-script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</body>

</html>